.duck
  .body
    .wing
      .wing-part1
        .wing-part1a
      .wing-part2
        .wing-part2a
      .wing-part3
        .wing-part3a

  .head
    .beak
      .beak-part1
      .beak-part2
    .eye
      .eye-dark
        .eye-shine